<div class="booking-confirmation">
<span class="message">
    {{ 'CONFIRM_BOOKING.SUCCESS' | translate}}
</span>
<span class="booking-info">
    <span class="booking-info-title">{{ 'CONFIRM_BOOKING.INFORMATION' | translate}}</span>
    <ul *ngIf="hotel$ | async; let hotel" class="booking-info">
        <li class="title">
            {{hotel.name}}
        </li>
    </ul>
</span>


</div>