.booking-confirmation {
  padding: 16px;
  .message {
    font-size: 24px;
  }
  .booking-info-title {
    margin-top: 16px;
    margin-bottom: 8px;
    display: block;
    font-size: 12px;
    font-weight: bold;
  }
  .booking-info {
    padding: 0;
    .title {
      font-size: 16px;
    }
  }
}
