<app-hotel-maps [location]="geoLocation" [selectedHotel]="selectedHotel" [mapLocations]="hotels" ></app-hotel-maps>
<app-hotel-carousal [hotels]="hotels" (booking)="completeBooking($event)"></app-hotel-carousal>