<div class="nav-header">
    <div class="logo" [routerLink]="['/home']"></div>
    <div class="nav-menu ml-auto">
        <div class="nav-menu-icon mt-5" (click)="showNav = !showNav"></div>
    </div>
</div>
<app-navigation [show]="showNav"></app-navigation>
<app-alerts [alerts]="alerts$ | async" (dismissed)="dismissAlert($event)"></app-alerts>
<div class="main-container">
    <router-outlet></router-outlet>
</div>