@import "../../../../../styles/variables.scss";
:host {
    position: fixed;
    display: block;
    z-index: 1010;
    top: 60px;
    left: 0px;
    right: 0px;
    padding-left: 64px;
    padding-right: 64px;
  }
  
  .alert {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;
    span {
      pre {
        white-space: pre-wrap;
      }
    }
    button.close {
        padding: 0;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 21px;
        font-weight: bold;
    }
  }

  .alert-danger {
    color: $error-text;
    background-color: $error-background;
    border-color: #f2b8bf;
    
  }

  @media (max-width: 640px) {
    :host {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  