<div *ngFor="let alert of alerts" [class]="'alert alert-' + alert.type" role="alert" [@alertShown]="alert">
    <div class="d-flex flex-row">
      <div class="overflow-ellipsis">
        <div class="mt-0 mb-16">
          <span class="fw-700" *ngIf="!alert?.title">{{ 'ALERT.INFO' | translate }}</span>
          <span class="fw-700" *ngIf="alert?.title">{{ alert.title | translate }}</span>
        </div>
        <div class="mt-0 mb-16" *ngIf="alert.type === 'danger'">
          <span class="fw-700">{{ 'ALERT.ERROR_TITLE' | translate }}</span>
          <span><pre style="color: #6c000d;">{{ alert.message | translate }}</pre></span>
        </div>
        <div class="m-0 mb-3" *ngIf="alert.type !== 'danger'">{{alert.message | translate}}</div>
      </div>
      
    </div>
    <div class="ml-auto">
        <button type="button" class="close" aria-label="Close" (click)="dismissed.emit(alert.id)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </div>