.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}
.fw-700 {
    font-weight: 700;
}

.ml-auto {
    margin-left: auto!important;
}