.nav-header {
    background: $header-bg;
    padding: 15px;
    max-height: 50px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    .logo {
        background-image: url('../assets/img/logo.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 135px;
    }

    .nav-menu {
        .nav-menu-icon {
            cursor: pointer;
            height: 100%;
            width: 20px;
            background-image: url('../assets/img/burger-icon.svg');
            background-repeat: no-repeat;
            &:hover {
                border-radius: 2px;
            }
        }
    }
}
.navbar-collapse  {
    width: 100%;
    display: flex;
    background: $header-bg;
    
    .collaps {
        &:not(.show) {
            display: none;
        }
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
    }
}