$green: #2A5E40;
$orange: #F7941D;
$orange-light: #EEA955;
$map-appartment: #BBC2B9;
$map-appartment-selected: #111111;
$text: #222222;
$text-description: #A8AEB3;
$text-summary: #979DA3;
$header-bg: #EBEAE6;
$error-text: #6c000d;
$error-background: #f6ccd1;
$error-border: #f2b8bf;
$card-background: #fff;
$white: #fff;