<div class="hotel-carousal">
    <drag-scroll class="hotel-carousal-scroll">
        <div drag-scroll-item class="hotel-carousal-item" *ngFor="let hotel of hotels" >
            <div class="hotel-item-container">
                <img [src]="hotel.photo">
                <div class="hotel-item-details">
                    <span class="title">{{hotel.name}}</span>
                    <span class="description">{{hotel.description}}</span>
                    <span class="price">$98</span>
                    <span class="small-description">designs may vary</span>
                </div>
            </div>
            <button class="book-btn" (click)="booking.emit(hotel)"> Book </button>
        </div>
      </drag-scroll>
</div>
