@import "../../../../../styles/variables.scss";
.hotel-carousal {
  position: absolute;
  bottom: 5px;
  z-index: 1000;
  height: 225px;
  width: 99%;
  padding-left: 12px;
  overflow: hidden;
  .hotel-carousal-scroll {
    height: 230px;
    width: 100%;
    min-width: 300px;
    .hotel-carousal-item {
      width: 250px;
      margin-right: 8px;
      padding: 16px;
      background-color: $card-background;
      display: flex;
      flex-direction: column;
      .hotel-item-container {
        display: flex;
        flex-direction: row;
        img {
            width: 100px;
            height: 132px;
            object-fit: cover;
            margin-right: 16px;
        }
        .hotel-item-details {
            display: flex;
            width: 140px;
            word-wrap: break-word;
            flex-direction: column;
            .title {
                font-weight: bold;
                margin-bottom: 8px;
                white-space: pre-wrap;
            }
            .description {
                text-transform: uppercase;
                font-size: 10px;
                color: $text-description;
                font-weight: 500;
                white-space: pre-wrap;
            }

            .price {
                margin-top: auto;
                font-weight: bold;
                font-size: 24px;
            }

            .small-description {
                font-size: 10px;
                color: $text-summary;
                white-space: pre-wrap;
            }
        }
      }
      .book-btn {
          color: $white;
          background-color: $orange;
          width: 100%;
          border: none;
          height: 40px;
          margin-top: 16px;
          cursor: pointer;
          &:hover {
              background-color: $orange-light;
          }
      }
    }
  }
}
